
<h2 class="color3">
    Insight You Can Trust
</h2>
<div class="space">
    We are some of the nation's brightest and innovative software architects.
    Carrying a breadth of insight and fresh perspective, each of us possess at least a Masters in Computer Science fields.
    Not only is academia our forte, but we have years of solid professional experience architecting custom software solutions. These include complex machine learning algorithms mining gigabytes of data in prediction of healthcare plan performance,
    comprehensive cemetary mapping tools facilitating the digital mapping of hundreds of thousands of properties,
    dashboard presentation tools synthesizing key metrics, advertisement landing sites, and much more.
</div>
<div class="space-half">
    We specialize in utilizing the latest in research and technology to engineer ingenious solutions saving your company thousands of dollars all while consistently undercutting similar firms.
    Believers in the importance of a global economy, we are proud of our rich variety of professionals living abroad that meet our rigorous interview process, winnowing out only the highest calibur engineers and visionaries.
    This not only offers you a consistently affordable service but a rich diversity in problem solving capacity and hard work ethic.
    You can be confident we will provide custom software solutions and ideas to facilitate and enhance your business productivity, spark your innovation, and bolster your success.
    Look no further than <span class="bold">AppInsight</span>. We are here to help.
</div>
<div class="flex-center space">
    <h2 class="color4"><a>Free Quote</a></h2>
</div>